---
import data from "../data/works.json";
import "./works.css";
---

<section class="works" id="works">
  <div class="works__types">
    <h2 class="works__title">Todos</h2>
  </div>

  <div class="works__group scroll">
    {
      data.map(({ name, img, url, github }) => (
        <div class="group__work">
          <div class="group__position">
            <img src={`${import.meta.env.BASE_URL}img/works/${img}`} loading="lazy" alt={name} />
            <div class="group__button hover">
              <a href={url} target="_blank" rel="noopener noreferrer">
                Web
              </a>
              <a href={github} target="_blank" rel="noopener noreferrer">
                Info
              </a>
            </div>
          </div>
          <h2 class="group__title">{name}</h2>
        </div>
      ))
    }
  </div>
</section>

